body, html {
	margin: 0;
	height: 100%;
}

/*ALL FONTS CSS*/

@font-face {
	font-family: "OpenSans-Bold";
    src: url(../fonts/open-sans/OpenSans-Bold.ttf);
}

@font-face {
	font-family: "OpenSans-ExtraBold";
    src: url(../fonts/open-sans/OpenSans-ExtraBold.ttf);
}

@font-face {
	font-family: "OpenSans-Regular";
    src: url(../fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
	font-family: "Quicksand-Book";
    src: url(../fonts/quicksand/Quicksand-Regular.otf);
}

@font-face {
	font-family: "Quicksand-Bold";
	src: url(../fonts/quicksand/Quicksand-Bold.otf);
}

/*START OF NAVBAR SECTION WITH BOOTSTRAP OVERRIDE*/

#navbar-section {
	height: 80px;
}

.navbar-default {
  background-color: #161814;
  border-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #C7C7C7;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
}

@media (min-width: 768px) {
	.navbar-right {
	  float: right!important;
	  margin: 15px 0px;
	}

	.navbar {
	  position: relative;
	  max-height: 80px;
	  margin-bottom: 0px;
	  border: 0px solid transparent;
	  border-radius: 0px;
	}
}

@media (min-width: 400px) {
	.navbar-right {
	  float: right!important;
	  margin: 15px 0px;
	}

	.navbar {
	  position: relative;
	  max-height: 80px;
	  margin-bottom: 0px;
	  border: 0px solid transparent;
	  border-radius: 0px;
	}
}



@media (max-width: 768px) {
.navbar {
	position: relative;
	height: 100%;
	margin-bottom: 0px;
	border: 0px solid transparent;
	}
}

@media (min-width: 400px) {
	.navbar-right {
	  float: right!important;
	  margin: 15px 0px;
	}

	.navbar {
	  position: relative;
	  max-height: 80px;
	  margin-bottom: 0px;
	  border: 0px solid transparent;
	  border-radius: 0px;
	}
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #161814;
  background-color: #161814;
}

.navbar-brand>img {
  display: block;
  padding-top: 5px;
  padding-left: 7px;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 22px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

#navbar-section li {
	font-family: OpenSans-Bold;
	font-size: 15px;
	color: #FFFFFF;
}

/*====END OF NAVBAR SECTION WITH BOOTSTRAP OVERRIDE*/

/*START OF HERO SECTION CSS*/

#hero-section {
	padding-top: 130px;
	padding-bottom: 130px;
	background-image: url(../img/homepage/hero-photo.png);
	background-size: cover;
	background-attachment: fixed;
}

#hero-section h1 {
	font-family: OpenSans-ExtraBold;
	font-size: 60px;
	color: #FFFFFF;
	margin-bottom: 30px;
}

#hero-section p {
	font-family: Quicksand-Book;
	font-size: 24px;
	color: #FFFFFF;
	margin-bottom: 28.8px;
}

/*====END OF HERO SECTION CSS*/

/*START OF FEATURES SECTION CSS*/

#features-section {
	padding-top: 108px;
	padding-bottom: 108px;
	background-color: #FFFFFF;
}

#features-section p {
	font-family: Quicksand-Book;
	font-size: 18px;
	color: #959595;
	margin-top: 50px;
}

/*====END OF FEATURES SECTION CSS*/

/*START OF QUOTE SECTION CSS*/

#quote-section {
	padding-top: 100px;
	padding-bottom: 100px;
	background-image: url(../img/homepage/testimonial-photo1.png);
	background-size: cover;
	background-attachment: fixed;
}

#quote-section h1 {
	font-family: Quicksand-Book;
	font-size: 60px;
	color: #FFFFFF;
	line-height: 72px;
	margin-bottom: 58px;
}

#quote-section p {
	font-family: Quicksand-Bold;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 28.8px;
}

/*====END OF QUOTE SECTION CSS*/

/*START OF SERVICES SECTION HTML*/


#services-section h3 {
	font-family: OpenSans-ExtraBold;
	font-size: 18px;
	color: #1A1A1A;
	line-height: 30px;
}

#services-section p {
	font-family: OpenSans-Regular;
	font-size: 18px;
	color: #959595;
	line-height: 30px;
}

#services-section img {
	margin-top: 40px;
}

#services-section .container {
	margin-top: 110px;
}

/*====END OF SERVICES SECTION CSS*/

/*START OF TEAM SECTION HTML*/


#team-section h3 {
	font-family: OpenSans-ExtraBold;
	font-size: 18px;
	color: #1A1A1A;
	line-height: 30px;
}

#team-section h4 {
	font-family: OpenSans-Regular;
	font-size: 18px;
	color: #959595;
	line-height: 30px;
}

#team-section p {
	font-family: Quicksand-Book;
	font-size: 22px;
	color: #959595;
	line-height: 36px;
}

#team-section img {
	display: ;
}

#team-section .container {
	margin-top: 110px;
	padding-right: 10%;
	padding-left: 10%;
}

/*====END OF TEAM SECTION CSS*/

/*START OF FOOTER SECTION CSS*/

#footer-section {
	background-color: #FFFFFF;
}

#footer-section h5 {
	font-family: OpenSans-Regular;
	font-size: 14px;
	color: #ACACAC;
	line-height: 30px;
}

#footer-section p {
	font-family: Quicksand-Book;
	font-size: 13px;
	color: #ACACAC;
	line-height: 30px;
}

#foot-section img {
	display: inline;
}

#footer-section .row {
	margin-top: 86px;
}

/*====END OF FOOTER SECTION CSS*/


/*GLOBAL CLASSES*/

.nimbus-button {
	padding: 30px 65px;
	display: inline-block;
	font-family: OpenSans-ExtraBold;
	font-size: 18px;
	line-height: 32.81px;
}

.orange {
	background-color: orange;
	color: #FFFFFF;
}

.white {
	border: 2px solid orange;
	color: orange;
}	

.section-head-font {
	font-family: OpenSans-ExtraBold;
    font-size: 36px;
    color: #1A1A1A;
    margin-bottom: 30px;
}

.section-sub-head-font {
	font-family: Quicksand-Book;
	font-size: 22px;
	color: #959595;
}

.row {
	margin-bottom: 50px;
}

/*====END OF GLOBAL CSS*/

/*MEDIA QUERY*/

@media (max-width: 768px) {

	#services-section .container {
		text-align: center;
	}

}

/*END OF MEDIA QUERY*/










